<nav class="navbar fixed-top navbar-light bg-light navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><i class="fas fa-gamepad"></i></a>
      <span class="navbar-text">Demojam Zombies</span>
      <!-- Single button -->
      
    </div>

    <div>
      <ul class="nav navbar-right">
        <div class="btn-group">
          <button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="far fa-question-circle"></i>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
      </ul>
    </div>
  </div>
</nav>


<div class="row">
  <div>
    <ui-view></ui-view>
  </div>
</div>
