<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('https://images.wallpaperscraft.com/image/dog_autumn_blur_trees_96516_1920x1080.jpg')">
        <div class="carousel-caption d-none d-sm-block text-block">
          <h2 class="display-4">Red vs White</h2>
          <p class="lead">Based off of Twitch plays pokemon, join a crowd source controlled game where you have to beat the other team to the goal while avoiding the zombie.</p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://images7.alphacoders.com/334/334685.jpg')">
        <div class="carousel-caption d-none d-sm-block text-block">
          <h2 class="display-4">Controls</h2>
          <p class="lead">When you join a team, you'll be randomly placed on Red or White. Help your team control the character by submitting directions via Slack or the Remote.</p>
          <a href="url">Join via Remote</a><br>
          <a href="url">Join via Slack</a>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://wallpaperplay.com/walls/full/4/a/b/243359.jpg')">
        <div class="carousel-caption d-none d-sm-block text-block">
          <h2 class="display-4">Third Slide</h2>
          <p class="lead">This is a description for the third slide.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>