<div style='background-image: url("images/shadowman.png");background-size:100% 100%;height:100%;
  width:100%;'>
  <div class='row row-container'>
    <div class='col-sm-6 button-div'>
      <button type="button" class="btn btn-block button" style='background-image: url("images/slack.png");background-size: 100% 100%;opacity: .75;'>
      </button>
    </div>
    <div class='col-sm-6 button-div'>
      <button type="button" class="btn btn-block button" style='background-image: url("images/remote.png");background-size: 100% 100%;opacity: .75;'>
      </button>
    </div>

  </div>
</div>