<section id="play">
      
      <div class="container wow fadeInUp">
        <div class="section-header">
          <p class="section-description">Select how you want to play:</p>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-6">
            <div class="member">
              <span class="pic" id="remote_button"><img src="img/portfolio/remote.jpg" alt=""></span>
              <h4>Browser based remote</h4>
              <span>Navigate with arrow keys using your browser</span>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-6">
            <div class="member">
              <span class="pic" id="slack_button"><img src="img/portfolio/slack.jpg" alt=""></span>
              <h4>Slack Chat</h4>
              <span><span class="font-weight-bold">@redhat.com email address required. </span>Type 'up', 'left', 'down', or 'right' to control your character</span>
            </div>

            

    </div>
</section>
