body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-y:hidden;
  overflow-x:hidden;
}

a {
  color: #00B7FF;
}

.info {

}

.carousel-item {
  height:100%;
  width:100%;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment:fixed;
}

.text-block {
	background-color: rgba(0, 0, 0, 0.56);
	border-radius: 25px;
}
.controls-container {
  height: 100%;

}
.content{
  margin: 2% auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.button-div {
  padding-left:10%;
  padding-right:10%;
  padding-top:2%;
  padding-bottom:2%;

}
.text-div {
  padding-left:10%;
  padding-right:10%;
  padding-top:1%;
  padding-bottom:1%;
  font-size:200%; 
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;


}

.button {
  padding-top: 30%;
  padding-bottom: 30%;
  font-size: 250%;
  border: 1px;
  border-style: solid;
  border-width: 3px;
  border-radius: 30px;
}
/*pixel2*/
@media only screen and (min-device-width: 411px) and (max-device-height: 731px){
  .text-div {
    padding-left:10%;
    padding-right:10%;
    padding-top:4%;
    padding-bottom:2%;
    font-size:150%; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button {
    margin-top: 0%;
    padding-top: 30%;
    padding-bottom: 30%;
    font-size: 250%;
 }
}

@media only screen and (min-device-width: 411px) and (max-device-height: 823px){
  .text-div {
    padding-left:10%;
    padding-right:10%;
    padding-top:4%;
    padding-bottom:2%;
    font-size:150%; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button {
    margin-top: 0%;
    padding-top: 30%;
    padding-bottom: 30%;
    font-size: 250%;
 }
}

/*galaxys5*/
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (-webkit-device-pixel-ratio: 3){
  .text-div {
    padding-left:10%;
    padding-right:10%;
    padding-top:4%;
    padding-bottom:2%;
    font-size:150%; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button {
    margin-top: 0%;
    padding-top: 30%;
    padding-bottom: 30%;
    font-size: 250%;
 }
}

/* iphone 5 */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2){
  .text-div {
    padding-left:10%;
    padding-right:10%;
    padding-top:4%;
    padding-bottom:2%;
    font-size:150%; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button {
    margin-top: 0%;
    padding-top: 30%;
    padding-bottom: 30%;
    font-size: 250%;
 }
}
/*iphone6/7/8*/
@media only screen 
    and (device-width : 375px) 
    and (device-height : 667px) 
    and (-webkit-device-pixel-ratio : 2) {
   .row-container {
      margin-top: 0%;
 }
 .text-div {
    padding-left:10%;
    padding-right:10%;
    padding-top:4%;
    padding-bottom:2%;
    font-size:150%; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button-div {
    padding-left:10%;
    padding-right:10%;
    padding-top:3%;
    padding-bottom:3%;

  }
}
/*iphone6/7/8 plus*/
 @media only screen 
    and (device-width : 414px) 
    and (device-height : 736px) 
    and (-webkit-device-pixel-ratio : 3) {
  .row-container {
      margin-top: 2%;
 }
 .text-div {
    padding-left:10%;
    padding-right:10%;
    padding-top:3%;
    padding-bottom:3%;
    font-size:150%; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button-div {
    padding-left:10%;
    padding-right:10%;
    padding-top:3%;
    padding-bottom:3%;

  }
}

/*iphonex*/
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3){
   .row-container {
      margin-top: 10%;
 }
 .text-div {
    padding-left:10%;
    padding-right:10%;
    padding-top:4%;
    padding-bottom:4%;
    font-size:150%; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button-div {
    padding-left:10%;
    padding-right:10%;
    padding-top:3%;
    padding-bottom:3%;

  }
}







