body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-y:hidden;
  overflow-x:hidden;
}

a {
  color: #00B7FF;
}

.info {

}

.carousel-item {
  height:100%;
  width:100%;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment:fixed;
}

.text-block {
	background-color: rgba(0, 0, 0, 0.56);
	border-radius: 25px;
}
.controls-container {
  height: 100%;

}
.content{
  margin: 2% auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.button-div {
  padding-left:10%;
  padding-right:10%;
  padding-top:10%;
  padding-bottom:10%;

}
.text-div {
  padding-left:10%;
  padding-right:10%;
  padding-top:1%;
  padding-bottom:1%;
  font-size:200%; 
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;

}

.button {
  padding-top: 30%;
  padding-bottom: 30%;
  font-size: 250%;
  border: 1px;
  border-style: solid;
  border-width: 3px;
  border-radius: 30px;
}


@media all and (min-height:568px){
   .button {
      margin-top: 0%;
      padding-top: 30%;
      padding-bottom: 30%;
      font-size: 250%;
 }
}

@media all and (max-height:667px){
   .row-container {
      margin-top: 0%;
 }
 .text-div {
    padding-left:10%;
    padding-right:10%;
    padding-top:4%;
    padding-bottom:2%;
    font-size:150%; 
    text-align: center;
  }
  .button-div {
    padding-left:10%;
    padding-right:10%;
    padding-top:3%;
    padding-bottom:3%;

  }
}
 @media all and (min-height:811px){
   .row-container {
      margin-top: 25%;
 }
 .text-div {
    padding-left:10%;
    padding-right:10%;
    padding-top:4%;
    padding-bottom:2%;
    font-size:150%; 
    text-align: center;
  }
  .button-div {
    padding-left:10%;
    padding-right:10%;
    padding-top:3%;
    padding-bottom:3%;

  }
}
 @media all and (min-width: 580px){
   .row-center {
      margin-top: 5%; 
      margin-bottom: 5%;
 }
}







