body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-y:hidden;
  overflow-x:hidden;
}

a {
  color: #00B7FF;
}

.info {

}

.carousel-item {
  height:100%;
  width:100%;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment:fixed;
}

.text-block {
	background-color: rgba(0, 0, 0, 0.56);
	border-radius: 25px;
}